In [39]:
import pandas as pd

In [40]:
x = pd.read_csv("../data/task1/train_data.txt", sep=":::", engine="python")
y = pd.read_csv("../data/task1/Test_data.txt" ,sep=":::", engine="python")
x.columns = ['ID ', ' TITLE ', ' GENRE ', ' DESCRIPTION']
y.columns = ['ID ', ' TITLE ', ' GENRE ', ' DESCRIPTION']
x.head()

,ID,TITLE,GENRE,DESCRIPTION
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his do...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous r...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fie...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends mee...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-re...

In [41]:
y.head()

,ID,TITLE,GENRE,DESCRIPTION
0,1,Edgar's Lunch (1998),thriller,"L.R. Brane loves his life - his car, his apar..."
1,2,La guerra de papá (1977),comedy,"Spain, March 1964: Quico is a very naughty ch..."
2,3,Off the Beaten Track (2010),documentary,One year in the life of Albin and his family ...
3,4,Meu Amigo Hindu (2015),drama,"His father has died, he hasn't spoken with hi..."
4,5,Er nu zhai (1955),drama,Before he was known internationally as a mart...

In [42]:
print(x.isna().sum())
print(y.isna().sum())

ID              0
 TITLE          0
 GENRE          0
 DESCRIPTION    0
dtype: int64
ID              0
 TITLE          0
 GENRE          0
 DESCRIPTION    0
dtype: int64

In [43]:
print(x.shape)
print(y.shape)

(54214, 4)
(54200, 4)

In [44]:
print(x.columns)

Index(['ID ', ' TITLE ', ' GENRE ', ' DESCRIPTION'], dtype='object')

In [46]:
x.to_csv("/home/archit/Desktop/python-workspace/data/task1/train_data.csv")
y.to_csv("/home/archit/Desktop/python-workspace/data/task1/test_data_sol.csv")

In [48]:
z = pd.read_csv("../data/task1/test_data.txt", sep=":::", engine="python")
z.head()

,ID,TITLE,DESCRIPTION
0,1,Edgar's Lunch (1998),"L.R. Brane loves his life - his car, his apar..."
1,2,La guerra de papá (1977),"Spain, March 1964: Quico is a very naughty ch..."
2,3,Off the Beaten Track (2010),One year in the life of Albin and his family ...
3,4,Meu Amigo Hindu (2015),"His father has died, he hasn't spoken with hi..."
4,5,Er nu zhai (1955),Before he was known internationally as a mart...

In [49]:
z.to_csv("/home/archit/Desktop/python-workspace/data/task1/test_data.csv")

In [50]:
z.isna().sum()

ID              0
 TITLE          0
 DESCRIPTION    0
dtype: int64